In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('computer.csv')

In [3]:
df.head()

  REC    Age  Income Student Credit_rating Buys_computer
0  r1   <=30    High      No          Fair            No
1  r2   <=30    High      No     Excellent            No
2  r3  31_40    High      No          Fair           Yes
3  r4    >40  Medium      No          Fair           Yes
4  r5    >40     Low     Yes          Fair           Yes

values has to be converted into float

In [4]:
a = {'<=30': 0.0, '31_40': 1.0, '>40': 2.0}
df['Age'] = df['Age'].map(a)
m = {'Low': 0.0, 'Medium': 1.0, 'High': 2.0}
df['Income'] = df['Income'].map(m)
s = {'No': 0.0, 'Yes': 1.0}
df['Student'] = df['Student'].map(s)
c = {'Fair': 0.0, 'Excellent': 1.0}
df['Credit_rating'] = df['Credit_rating'].map(c)
b = {'No': 0.0, 'Yes': 1.0}
df['Buys_computer'] = df['Buys_computer'].map(b)

In [5]:
df_convert = df

In [6]:
df_convert.head()

  REC  Age  Income  Student  Credit_rating  Buys_computer
0  r1  0.0     2.0      0.0            0.0            0.0
1  r2  0.0     2.0      0.0            1.0            0.0
2  r3  1.0     2.0      0.0            0.0            1.0
3  r4  2.0     1.0      0.0            0.0            1.0
4  r5  2.0     0.0      1.0            0.0            1.0

split data for train and test data

In [7]:
from sklearn.model_selection import train_test_split

features = ['Age','Income','Student','Credit_rating']

X = df_convert[features].values
y = df_convert['Buys_computer'].values

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,test_size=0.5)

implement model and print score

In [8]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(criterion = 'entropy')
model.fit(X_train,y_train)

print(model.score(X_test,y_test))

0.4

In [9]:
from sklearn import tree
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
import pydotplus

ModuleNotFoundError: No module named 'pydotplus'

plot decision tree

In [10]:
data = tree.export_graphviz(model, out_file=None, feature_names=features)
graph = pydotplus.graph_from_dot_data(data)
graph.write_png('mydecisiontree.png')

img=pltimg.imread('mydecisiontree.png')
imgplot = plt.imshow(img)
plt.show()

NameError: name 'pydotplus' is not defined